@import url('https://fonts.cdnfonts.com/css/hero-new');

body {
    font-family: 'Hero New', sans-serif;
    min-height: 100vh;     
    display: flex; 
    flex-direction: column; 
}

img {
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.second {
    display: flex;
}

.third {
    /* display: flex;
    flex-direction: column; */
}

.cards {
    display: flex;
}
.fourth {
    display: flex;
}

.footer {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bold-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.header,
.second,
.footer { 
    background-color: #1F2937;
}

.text,
.button2,
a {
    font-size: 18px;
    color: #E5E7EB;
}